{% extends 'app/base.html'%}
{% load static %}
{% block dangnhap %}
    <div class="login-box">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <h3 id="form-title">ĐĂNG NHẬP</h3>
                </div>
                <div class="d-flex justify-content-center form_container">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" name="username" placeholder="Tên tài khoản..." class="form-control">
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" name="password" placeholder="Mật khẩu..." class="form-control">
                        </div>

                        <div class="d-flex justify-content-center mt-3 login_container">
                            <input class="btn login_btn" type="submit" value="Đăng nhập">
                        </div>
                    </form>
                </div>
                {% for message in messages %}
                    <p id="messages">{{ message }}</p>
                {% endfor %}

                <div class="mt-4">
                    <div class="d-flex justify-content-center links">
                        <b style="color: #64d075">Bạn chưa có tài khoản? </b> <a href="{% url 'dangky' %}" class="ml-2">Đăng ký</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock dangnhap %}