{% extends 'app/base.html' %} 
{% load static %} 

{% block content %}
<div class="login-box">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <h3 id="form-title">ĐĂNG KÝ TÀI KHOẢN</h3>
            </div>
            <div class="d-flex justify-content-center form_container">

                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        {{ form.username }}
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
                        </div>
                        {{ form.email }}
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        {{ form.password1 }}
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        {{ form.password2 }}
                    </div>

                    <div class="d-flex justify-content-center mt-3 login_container">
                        <input class="btn login_btn" type="submit" value="Đăng ký">
                    </div>
                </form>
            </div>
            {{ form.errors }}
            <div class="mt-4">
                <div class="d-flex justify-content-center links">
                   <b style="color: #64d075">Bạn đã có tài khoản ?</b>  <a href="{% url 'dangnhap' %}" class="ml-2">Đăng nhập</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/formField.js' %}" type="text/javascript"></script>
{% endblock %}